.container {
  margin: 0 auto;
  max-width: 940px;
  @include pad() {
    max-width: 748px;
  }
  @include phone() {
    max-width: 512px;
  }
}

.navbar {
  display: flex;
  padding: 30px 0;
  align-items: center;
  &__hamburger {
    display: none;
    padding: 10px;
    transition: all .3s;
    border-radius: 30px;
    cursor: pointer;
    &:hover {
      background: $color-secondary;
    }
  }
  &__brand--mobile {
    display: none;
    padding: 10px;
  }
  &__links {
    display: flex;
    align-items: center;
    margin: 0 60px 0 auto;
    a {
      padding: 10px 30px;
      color: $color-primary;
      border-radius: 30px;
      transition: all .3s;
      font-weight: $font-weight-semibold;
      &:hover {
        background: $color-secondary;
      }
    }
    @include pad() {
      margin: 0 30px 0 auto;
      a{
        padding: 10px 15px;
      }
    }
  }
  &__cart {
    padding: 10px;
    border-radius: 30px;
    transition: all .3s;
    &:hover {
      background: $color-secondary;
    }
  }
  @include phone() {
    justify-content: space-between;
    padding: 20px 0;
    &__hamburger {
      display: block;
    }
    &__brand {
      display: none;
    }
    &__brand--mobile {
      display: block;
    }
    &__links {
      display: none;
    }
  }
  @include phone-small() {
    padding: 10px 0;
  }
}

.footer {
  &__form {
    padding: 20px 10px;
    background-color: $color-primary;
    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include phone() {
        flex-direction: column;
      }
    }
  }
  &__info {
    color: $color-primary;
    padding: 30px 10px;
    background-color: $color-secondary;
    &-container {
      display: flex;
      flex-direction: column;
    }
  }
}
.form-label {
  display: flex;
  align-items: center;
  color: $color-secondary;
  font-size: $font-size-large;
  img {
    margin-right: 20px;
  }
  @include phone() {
    margin-bottom: 30px;
  }
}
.form-input {
  display: flex;
  position: relative;
  .email-icon {
    position: absolute;
    left: 16px;
    top: 16px;
  }
  input[type="email"] {
    padding-left: 58px;
    color: $color-primary;
    font-weight: 700;
  }
  button[type="submit"] {
    padding: 16px;
    background-color: $color-submit;
  }
}
.info-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.2;
  }
  &__slogan {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 5px;
    user-select: none;
  }
  @include phone-small() {
    &__contact img {
      margin-bottom: 40px;
    }
    &__slogan {
      display: none;
    }
  }
}
.info-bottom {
  display: flex;
  justify-content: space-between;
  &__icons li{
    display: inline-block;
  }
  &__copyright {
    display: flex;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
  }
  @include phone-small() {
    flex-direction: column;
    &__icons {
      margin-bottom: 22px;
    }
  }
}